<div class="row">
  <h2>Upcoming Events</h2>

  <span class="form-group">
    <select class="custom-select">
      <option selected>Filter by location</option>
      <option ng-repeat="location in AdminCtrl.eventLocations" value="{{location}}">{{location}}</option>
    </select>
    <select class="custom-select">
      <option selected>Filter by date</option>
      <option ng-repeat="date in AdminCtrl.eventDates" value="{{date}}">{{date}}</option>
    </select>
  </div>

</div>

<div class="row">

<div class="card-columns">
  <div class="card text-xs-center" ng-repeat="event in AdminCtrl.events">
    <div class="card-header">
      <h3>{{event.date}}</h3>
      <h4>{{event.type}} at {{event.location}}</h4>
    </div>
    <div class="card-block">
      <div class="card-text">
        <span ng-if="!!event.description">
          {{event.description}}
        <hr>
        </span>
      </div>
    <div class="row">
      <div class="col-xs-4 font-weight-bold">Yes</div>
      <div class="col-xs-2">{{event.yes}}</div>
      <div class="col-xs-4 font-weight-bold">No</div>
      <div class="col-xs-2">{{event.no}}</div>
      <div class="col-xs-4 font-weight-bold">Maybe</div>
      <div class="col-xs-2">{{event.maybe}}</div>
      <div class="col-xs-4 font-weight-bold">No response</div>
      <div class="col-xs-2">{{event.pending}}</div>
    </div>
    </div>
  </div>

</div>
</div>
